
doctype 5
html(lang='de')
    head
        title= $pageTitle

        block styles
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
            link(rel='stylesheet', href='#{baseUrl}/styles/bootstrap.theme.css')
            link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
            style.

                body {
                    font-size: 14px;
                    margin-top: 40px;
                    background: #eee;
                }
    body

        block content
            
        
        block scripts
            script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
            script(src='#{baseUrl}/scripts/common.js')
            script.

                (function( $ ) { $.lvs.options = !{jsOptions}; } )( jQuery );
