
extends ../layout

block content

    .container

        .page-header
            h1= $title

        .panel.panel-default
            .panel-heading
                h3.panel-title Actions
            .panel-body
                .row
                    .col-md-6: a.btn.btn-default.btn-block(href=$databaseGetUrl) Back to Database Details
                    .col-md-6: a.btn.btn-default.btn-block(href=$databaseIndexUrl) Back to Database Index

        .panel.panel-default
            .panel-heading
                h3.panel-title Tables in #{databaseName}
            table.table.table-striped.table-bordered
                thead
                    tr
                        th Table Name
                        th Actions
                tbody
                    tr
                        td: input.form-control.input-block#createNameInput(type='text', name='name', placeholder='New Table Name')
                        td: button.btn.btn-success.btn-block#createButton(data-href=$createUrl) Create
                    each $table in $tables
                        tr
                            td= $table['name']
                            td
                                .row
                                    .col-md-6: a.btn.btn-primary.btn-block(href=$table['getUrl']) Table Details
                                    .col-md-6: a.btn.btn-info.btn-block(href=$table['columnIndexUrl']) Column Index


block append scripts
    script.

        $(function () {

            $('#createButton').click(function (e) {
                e.preventDefault();

                var name = $('#createNameInput').val();

                if (!name.match(/^[a-z0-9\-_]+$/i)) {

                    window.alert('Table name can only consist of a-z, A-Z, - and _. It also can\'t be empty');
                    return;
                }

                window.location.href = $.interpolate($(this).data('href'), {'name': name});
            });
        });
