
extends layout

block storage-content
    
    .alert.alert-info
        strong Bitte Code einscannen
        p Nutzen Sie den Scanner um einen Code einzugeben oder geben Sie diesen händisch im oberen Textfeld an.
